<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="newtripform">
            <h5>Trip Information</h5>
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label for="tripNumberInput">Trip Number</label>
                        <input type="text" class="form-control" id="tripNumberInput" placeholder="Trip #">
                    </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                      <label for="tripNameInput">Trip Name</label>
                      <input type="text" class="form-control" id="tripNameInput" placeholder="Trip Name">
                  </div>
              </div>
                  <div class="col-4">
                      <div class="form-group">
                          <label for="airDraftInput">Air Draft (ft)</label>
                          <input type="number" class="form-control" id="airDraftInput" placeholder="Air Draft">
                      </div>
              </div>
          </div>
          <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="mobLocInput">Mobilization Location</label>
                    <input type="text" class="form-control" id="mobLocInput" placeholder="Mobilization Location">
                </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                  <label for="loadLocInput">Load Location</label>
                  <input type="text" class="form-control" id="loadLocInput" placeholder="Load Location">
              </div>
          </div>
              <div class="col-4">
                  <div class="form-group">
                      <label for="unloadLocInput">Unload Location</label>
                      <input type="text" class="form-control" id="unloadLocInput" placeholder="Unload Location">
                  </div>
          </div>
      </div>
              <h5>Customer Information</h5>
              <div class="row">
                  <div class="col-4">
                      <div class="form-group">
                          <label for="companyInput">Company Name</label>
                          <input type="text" class="form-control" id="companyInput" placeholder="Company Name">
                      </div>
                  </div>
                  <div class="col-4">
                    <div class="form-group">
                        <label for="customerFirstNameInput">Customer First Name</label>
                        <input type="text" class="form-control" id="customerFirstNameInput" placeholder="First Name">
                    </div>
                </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="customerLastNameInput">Customer Last Name</label>
                            <input type="text" class="form-control" id="customerLastNameInput" placeholder="Last Name">
                        </div>
                </div>
            </div>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="customerPhoneInput">Customer Phone</label>
                            <input type="text" class="form-control" id="customerPhoneInput" placeholder="000-000-0000">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="customerEmailInput">Customer Email</label>
                            <input type="text" class="form-control" id="customerEmailInput" placeholder="hello@hello.com">
                        </div>
                    </div>
                </div>
                <br>
                <h5>Asset Information</h5>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="barge1Input">Barge Name (1)</label>
                            <input type="text" class="form-control" id="barge1Input" placeholder="Barge Name">
                        </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                          <label for="barge2Input">Barge Name (2)</label>
                          <input type="text" class="form-control" id="barge2Input" placeholder="Barge Name">
                      </div>
                  </div>
                      <div class="col-4">
                          <div class="form-group">
                              <label for="tug1Input">Tug Name (1)</label>
                              <input type="text" class="form-control" id="tug1Input" placeholder="Tug Name">
                          </div>
                  </div>
                </div>
                  <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="tug2Input">Tug Name (2)</label>
                            <input type="text" class="form-control" id="tug2Input" placeholder="Tug Name">
                        </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                          <label for="tug3Input">Tug Name (3)</label>
                          <input type="text" class="form-control" id="tug3Input" placeholder="Tug Name">
                      </div>
                  </div>
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Create New Trip</button>
            </div>
        </form>
      </div>
    </div>
  </div>